<div class="nk-footer">
  <div class="container-fluid">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright"> Copyright &copy; @DateTime.Now.Year <a href="https://www.aiu.edu/">AIU</a>. Power By <a
          href="https://www.softtechmedia.com/" target="_blank">Soft Tech Media</a>
      </div>
      <div class="nk-footer-links">
        <ul class="nav nav-sm">
          <li class="nav-item dropup">
            <a herf="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-toggle="dropdown"
              data-offset="0,10"><span>English</span></a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
              <ul class="language-list">
                <li>
                  <a href="#" class="language-item">
                    <span class="language-name">English</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="language-item">
                    <span class="language-name">Español</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="language-item">
                    <span class="language-name">Français</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="language-item">
                    <span class="language-name">Türkçe</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" data-toggle="modal" data-target="#region" class="nav-link"><em
                class="icon ni ni-globe"></em><span class="ml-1">Select
                Region</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>